<div class="span{{ column_width }}">
    {% for module, klasses in grouped_klasses.items() %}
    {% if module.split('.')[-1] == 'serializers' %}</div><div class="span{{ column_width }}">{% endif %}
    <div class="well skinny klass-list">
        <ul class="nav nav-list">
            <li class="nav-header"><h3>{{ module.split('.')[-1] }}</h3></li>
            {% for klass in klasses %}
            <li class="primary">
                <a href="{{ get_klass_url(klass) }}" {% if get_klass_docs(klass) %}class="klass-tooltip" data-original-title="{{ get_klass_docs(klass) }}" data-placement="bottom"{% endif %}>
                    {{ klass.__name__ }}
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
    {% endfor %}
</div>
