<div class="span{{ column_width }}">
{% for view in views %}
    {% if current_module !=  view.__module__  or loop.index0 == 0%}
        {% if loop.index0 != 0 %}</ul></div>{% endif %}
        {% if view.__module__.split('.')[-1] == 'detail'%}</div><div class="span{{ column_width }}">{% endif %}
        <div class="well skinny klass-list">
        <ul class="nav nav-list">
        <li class="nav-header"><h3>{{ view.__module__.split('.')[-1] }}</h3></li>
        {% set current_module = view.__module__ %}
    {% endif %}
    <li class="primary">
        <a href="{{ get_view_url(view) }}" {% if get_view_docs(view) %}class="klass-tooltip" data-original-title="{{ get_view_docs(view) }}" data-placement="bottom"{% endif %}>
            {{ view.__name__ }}
        </a>
    </li>
{% endfor %}
</ul></div>
</div>
