<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block title %}Django REST Framework Class-Based-View Inspector{% endblock %} -- Classy CBV</title>
    <meta name="description" content="The best way to understand Django's class-based views is to see it in Classy CBV, so pick your version and jump in at the deep end.">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles from Twitter Bootstrap-->
    <link href="/static/bootstrap.css" rel="stylesheet">
    <link href="/static/bootstrap-responsive.css" rel="stylesheet">
    <link href="/static/style.css" rel="stylesheet">
    <link href="/static/manni.css" rel="stylesheet">

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="/static/jquery-1.7.1.min.js"><\/script>');</script>
    <script src="/static/bootstrap-collapse.js"></script>
    <script src="/static/modernizr-2.5.3.min.js"></script>
    <script src="/static/bootstrap-dropdowns.js"></script>
    <script>$('.dropdown-toggle').dropdown()</script>

    {% block extraheaders %}{% endblock %}
</head>
<body>
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="brand" href="/">ccbv.co.uk</a>
                <ul class="nav">

                {% block nav %}

                <li li="version-{{ version }}" class="dropdown">
                    {% if not other_versions %}
                        <a href="#">{{ version_prefix }} {{ version }}</a>
                    {% else %}
                        <a href="#version-{{ version }}" class="dropdown-toggle" data-toggle="dropdown">
                            {{ version_prefix }} {{ version }} <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            {% for v in other_versions %}
                                <li>
                                    <a href="{{ get_version_url(v) }}">{{ v }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </li>

                <li class="divider-vertical"></li>
                {% for view in views %}
                    {% if current_module != view.__module__ or loop.index0 == 0 %}
                        {% if loop.index0 != 0 %}</ul></li>{% endif %}
                        {% set module_short_name = view.__module__.split('.')[-1] %}
                        <li id="module-{{ module_short_name }}" class="dropdown{% if view.__module__ == this_module %} active{% endif %}">
                        <a href="#module-{{ module_short_name }}" class="dropdown-toggle" data-toggle="dropdown">
                            {{ module_short_name|title }} <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                    {% endif %}
                    <li {% if view == this_klass %}class=" active"{% endif %}>
                        <a href="{{ get_view_url(view) }}">{{ view.__name__ }}</a>
                    </li>
                    {% set current_module = view.__module__ %}
                {% endfor %}
                </ul></li>
                {% endblock nav %}
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        <article id="main">
            {% block page_header %}{% endblock %}
            <div class="row">{% block content %}{% endblock %}</div>
        </article>
        {% block footer %}
            <footer>
                <hr />
                <p>Developed at <a href="http://www.vinta.com.br/">Vinta Software Studio</a>.</p>
                <p><a href="http://github.com/aericson/rest_framework_ccbv/">Source code</a> on <a href="http://github.com/">GitHub</a>.</p>
                <p>Based on <a href="http://ccbv.co.uk/">Django Classy Class-Based Views</a>.</p>
            </footer>
        {% endblock %}
    </div> <!-- /container -->
    <script type="text/javascript">$('.dropdown-toggle').dropdown()</script>
    {% block extra_js %}{% endblock %}
</body>
</html>
